## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
numero = 1123
print(numero)

1123

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(numero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
nombre = 'Walter'

5) Crear una variable que contenga un número complejo

In [16]:
num2 = 5+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(type(num2))

<class 'int'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
import math
piRedondeado = round(math.pi,4)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
varString = 'True'
varBoolean = True
#No son los mismos, las comillas indican que es un string, en cambio el otro es una valor booleano

Verdadero

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print(type(varString))
print(type(varBoolean))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
num3 = 3 + 4.3

11) Realizar una operación de suma de números complejos

In [17]:
num4 = 5j
num5 = 3j
print(num4+num5)

8j

12) Realizar una operación de suma de un número real y otro complejo

In [18]:
print(num4 + num2)

(5+10j)

13) Realizar una operación de multiplicación

In [25]:
print(num2*num3)

(36.5+36.5j)

14) Mostrar el resultado de elevar 2 a la octava potencia

In [26]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [29]:
dividendo = 27
divisor = 4
cociente = dividendo / divisor
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [34]:
cocienteInt = (int(cociente))
print(cocienteInt)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [31]:
resto = dividendo % divisor
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [35]:
num6 = 27 - 4 - resto - cocienteInt
print(num6)

14

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [39]:
var1 = "Estudio "
var2 = "en "
var3 = "Henry"
texto = var1+var2+var3
print(texto)

Estudio en Henry

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [45]:
var4 = 2
var5 = "2"
if var4 == var5:
    print('Si son iguales')
else:
    print('No son iguales porque uno es una cadena de texto, mientras que el otro es un entero')

No son iguales porque uno es una cadena de texto, mientras que el otro es un entero

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [46]:
var5 = int(var5)
if var4 == var5:
    print('Si son iguales')
else:
    print('No son iguales porque uno es una cadena de texto, mientras que el otro es un entero')

Si son iguales

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
Porque el numero esta entre

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

26) Realizar una operación válida entre valores de tipo entero y string